In [1]:
# Dependencies
import pandas as pd

In [2]:
# Files to load
TBI_type = "TBI/resources/TBI_data.csv"
TBI_by_year = "TBI/resources/tbi_year.csv"
TBI_by_age = "TBI/resources/tbi_age.csv"

In [3]:
#Read the gender data file and store in DataFrame
TBI_type_df = pd.read_csv(TBI_type)
TBI_type_df

   Year  Emergency Department Visits  Hospitalizations  Deaths  Total
0  2001                        420.6              82.7    18.5  521.0
1  2002                        433.9              85.6    18.3  537.2
2  2003                        423.3              94.6    18.2  535.4
3  2004                        486.3              97.6    18.1  601.3
4  2005                        505.0              92.8    18.6  615.7
5  2006                        478.9              98.7    18.2  595.1
6  2007                        457.5              91.7    18.2  566.7
7  2008                        616.4              95.5    17.7  728.9
8  2009                        677.4              98.0    17.2  791.9
9  2010                        715.7              91.7    17.1  823.7

In [4]:
#Read the year data file and store in DataFrame
TBI_by_year_df = pd.read_csv(TBI_by_year)
TBI_by_year_df

,injury_mechanism,type,year,rate_est,number_est
0,Motor vehicle crashes,Emergency Department Visit,2006,85.3,254793.0
1,Motor vehicle crashes,Emergency Department Visit,2007,83.8,252459.0
2,Motor vehicle crashes,Emergency Department Visit,2008,83.9,254391.0
3,Motor vehicle crashes,Emergency Department Visit,2009,88.7,270240.0
4,Motor vehicle crashes,Emergency Department Visit,2010,95.3,292942.0
...,...,...,...,...,...
211,Total,Deaths,2010,16.5,NaN
212,Total,Deaths,2011,16.6,NaN
213,Total,Deaths,2012,16.8,NaN
214,Total,Deaths,2013,16.8,NaN
215,Total,Deaths,2014,16.8,NaN

In [5]:
#Read the gender data file and store in DataFrame
TBI_by_age_df = pd.read_csv(TBI_by_age)
TBI_by_age_df

,age_group,type,injury_mechanism,number_est,rate_est
0,0-17,Emergency Department Visit,Motor Vehicle Crashes,47138.0,64.1
1,0-17,Emergency Department Visit,Unintentional Falls,397190.0,539.8
2,0-17,Emergency Department Visit,Unintentionally struck by or against an object,229236.0,311.6
3,0-17,Emergency Department Visit,"Other unintentional injury, mechanism unspecified",55785.0,75.8
4,0-17,Emergency Department Visit,Intentional self-harm,NaN,NaN
...,...,...,...,...,...
226,Total,Deaths,Unintentionally struck by or against an object,378.0,0.1
227,Total,Deaths,"Other unintentional injury, mechanism unspecified",3889.0,1.2
228,Total,Deaths,Intentional self-harm,18485.0,5.8
229,Total,Deaths,Assault,4906.0,1.5
230,Total,Deaths,Other or no mechanism specified,2547.0,0.8